@import "tailwindcss";

/* Global base styles */

body {
  @apply bg-black;
}

/* Reusable components */
@layer components {
  .input {
    @apply w-full bg-emerald-500/10 border border-emerald-700/50 rounded-lg px-4 py-2
    text-slate-300 placeholder:text-emerald-500
    focus:outline-none focus:border-emerald-400 transition;
  }
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 18s linear infinite reverse;
}
.glow {
  filter: drop-shadow(0 0 15px #00ff99);
}
